<% provide(:title, 'Home') %>

<div class="row">
<div class="span12 carousel-container"><!-- start Carousel -->
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<%= link_to image_tag("slide1-large.png", alt: "Slide2"), "#" %>
				<div class="carousel-caption">
					<h4>First Thumbnail Label</h4>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div><!-- end carousel-caption -->
			</div><!-- end item -->

			<div class="item">
				<%= link_to image_tag("slide2-large.png", alt: "Slide2"), "#" %>
				<div class="carousel-caption">
					<h4>Second Thumbnail Label</h4>
					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</div><!-- end carousel-caption -->
			</div><!-- end item -->

			
		</div><!-- end carousel-inner -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div><!-- end myCarousel -->
</div><!-- end Carousel -->
</div>

<div class="row">
<div class="span12"><!-- start featured -->
<div class="row">
<div id="featured">
	<div class="featured-image">
		<div class="span4 item">
			<%= link_to image_tag("cta1.png", alt: "cta1"), "#" %>
		</div><!-- free-trial -->
	</div>
	<div class="featured-image">
		<div class="span4 item">
			<%= link_to image_tag("cta2.png", alt: "cta2"), "#" %>
		</div>
	</div>
	<div class="featured-image last">
		<div class="span4 item last">
			<%= link_to image_tag("cta3.png", alt: "cta3"), "#" %>
		</div><!-- end featured-product -->
	</div>
</div>
</div>
</div><!-- end featured -->
</div>

<div class="row">
<div class="span12"><!-- start benefits -->

	<div id="benefits">
		<h3>Benefits</h3>
		<div class="span3 benefit">
			<%= image_tag("natural.png", alt:"nartual") %>
			<h4>All Natural Ingredients</h4>
			<p>No need to worry about harmful chemicals that harm your health.</p>
		</div><!-- end benefit -->

		<div class="span3 benefit">
			<%= image_tag("product.png", alt:"nartual") %>
			<h4>3-in-1 Product</h4>
			<p>High performing 3-in-1 product effective against acne, eczema, and rosacea.</p>
		</div><!-- end benefit -->

		<div class="span3 benefit">
			<%= image_tag("money.png", alt:"nartual") %>
			<h4>Money Back Guarantee</h4>
			<p>We offer 100% money back guarantee on all our products.</p>
		</div><!-- end benefit -->

		<div class="span3 benefit last">
			<%= image_tag("shipping.png", alt:"nartual") %>
			<h4>Free Shipping</h4>
			<p>Never pay for shipping. Delivered directly to your door.</p>
		</div><!-- end benefit -->

	</div><!-- end benefits -->
</div><!-- end benefits -->
</div>

<div class="row">
<div class="span12"><!-- start testimonials -->
	<div id="testimonials">
		<h3>Testimonials</h3>

		<div class="testimonial">
			<div class="inner">
				<br/><p><i>"Just wanted you to know that I am very impressed with the results I'm getting with my male clients with Shield For Men products. I've worked with many skin care products in the past, but Shield For Men products are surely a product I put my name behind!"</i></p><br/>
				<div class="meta helper">
					&#8220;
				</div><!-- end meta -->
			</div><!-- end inner -->
			<p class="meta">
				<strong>Alice</strong><span> Esthetician</span>
			</p>
		</div><!-- end testimonial -->

		<div class="testimonial">
			<div class="inner">
				<br/><p><i>"Just wanted you to know that I am very impressed with the results I'm getting with my male clients with Shield For Men products. I've worked with many skin care products in the past, but Shield For Men products are surely a product I put my name behind!"</i></p><br/>
				<div class="meta helper">
					&#8220;
				</div><!-- end meta -->
			</div><!-- end inner -->
			<p class="meta">
				<strong>Alice</strong><span> Esthetician</span>
			</p>
		</div><!-- end testimonial -->
		 
	</div>
</div><!-- end testimonials -->
</div>