<%= provide(:title, 'All users') %>
<div class="row">
	<aside class="span3">
		<section>
			
		</section>
		<div class="left-nav">
			<h2>Your Account</h2>
			
			<ul>
				<li><%= link_to 'All Users', users_path %></li>
				<li><%= link_to "Account Info", edit_user_path(current_user) %></li>
				<li><a href="#">Your Orders</a></li>
				<li><a href="#">Credits</a></li>
			</ul>
		</div><!-- end left-nav -->
	</aside>
	<div class="span9">
		<div class="content">
			<h1>All users</h1>

			<%= will_paginate %>

			<ul class="users">
				<%= render @users %>
			</ul>

			<%= will_paginate %>
		</div>
	</div>
</div>