<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span3">
		<section>
			
		</section>
		<%= render 'shared/left-nav' %>
	</aside>
	<div class="span9">
		<div class="content">
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
			<p>&nbsp;</p>
			<p>
			<strong>Name:</strong> <%= @user.name %> <br/>

			<strong>Email: </strong> <%= @user.email %>
			</p>
			<p>
				<%= link_to 'Edit Personal Info', edit_user_path(@user) %>
			</p>
			<% if @user.orders.any? %>
				<h3>Your Orders</h3>
				<% @user.orders.each do |order| %>
				<ul>
					<li>
					<span><%= link_to "SFM1201#{order.id}", order_path(order.id) %></span>
					<span class="timestamp">
						Ordered <%= time_ago_in_words(order.created_at) %> ago.
					</span>
					</li>
				</ul>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
