<%= provide(:title, 'Showing orders') %>
<div class="row">
    <aside class="span3">
        <section>
            
        </section>
        <%= render 'shared/left-nav' %>
    </aside>
    <div class="span9">
        <div class="content">
        

        <% if @order.line_items.any? %>

        <h3>Order Information:</h3>
        
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Quantity</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>

              
                <% @order.line_items.each do |line_item| %>
              <tr>
                
                <td><%= line_item.quantity %></td> 
                
                <td><%= image_tag(line_item.product.image_url, class: "cart-image") %></td>
                <td><%= link_to line_item.product.title, line_item.product %></td>
                <td><%= number_to_currency(line_item.product.price * line_item.quantity ) %></td>
                <% end %>
              </tr>
              
              <% @order.line_items.each do |line_item| %>
                <% if line_item.discount != nil %>
                <tr>
                  <td><b>Discount Code Used:</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><%= line_item.discount.discount_code %></td>
                </tr>
                <tr>
                  <td><b>Discount Amount:</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>-<%= number_to_currency(@order.original_price - @order.price) %></td>
                </tr>
                <% end %>
              <% end %>
              <tr>
              <td><b>Total:</b></td>

              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><strong><%= number_to_currency(@order.price) %></strong></td>
              </tr>     
            </tbody>
            </table>
        
          <% end %>

          <h3>Personal Info:</h3>
        <p>
          <b>Email:</b>
          <%= @order.email %>
        </p>

        <p>
          <b>Phone number:</b>
          <%= @order.phone_number %>
        </p>
        <h3>Billing Info:</h3>
        <p>
          <b>First Name:</b>
          <%= @order.bill_to_first_name %>
        </p>

        <p>
          <b>Last Name:</b>
          <%= @order.bill_to_last_name %>
        </p>

        <p>
          <b>Address:</b>
          <%= @order.bill_to_address %>
        </p>

        <p>
          <b>City:</b>
          <%= @order.bill_to_city %>
        </p>

        <p>
          <b>State:</b>
          <%= @order.bill_to_state %>
        </p>

        <p>
          <b>Zip Code:</b>
          <%= @order.bill_to_postal_code %>
        </p>
        <h3>Shipping Info:</h3>
        <p>
          <b>First Name:</b>
          <%= @order.ship_to_first_name %>
        </p>

        <p>
          <b>Last Name:</b>
          <%= @order.ship_to_last_name %>
        </p>

        <p>
          <b>Address:</b>
          <%= @order.ship_to_address %>
        </p>

        <p>
          <b>City:</b>
          <%= @order.ship_to_city %>
        </p>

        <p>
          <b>State:</b>
          <%= @order.ship_to_state %>
        </p>

        <p>
          <b>Zip Code:</b>
          <%= @order.ship_to_postal_code %>
        </p>
        <% if current_user.admin? %>
        <h3>Customer Details:</h3>
        <p>
          <b>Customer ip:</b>
          <%= @order.customer_ip %>
        </p>
        <% end %>
        
        </div>
    </div>
</div>
