<%= form_for(@discount) do |f| %>
  <%= render 'shared/error_messages', object: @discount %>

  <div class="field">
    <%= f.label :discount_code %><br />
    <%= f.text_field :discount_code %>
  </div>
  <div class="field">
    <%= f.label :discount_factor %><br />
    <%= f.text_field :discount_factor %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
