<%= provide(:title, 'Editing product') %>
<div class="row">
  <aside class="span3">
    <section>
      
    </section>
    <%= render 'left-nav' %>
  </aside>
  <div class="span9">
    <div class="content products">
			<h1>Editing product</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @product %> |
			<%= link_to 'Back', products_path %>
		</div>
  </div>
</div>