<%= provide(:title, 'Editing plan') %>
<div class="row">
  <aside class="span3">
    <section>
      
    </section>
    <%= render 'shared/admin-left-nav' %>
  </aside>
  <div class="span9">
    <div class="content products">
		<h1>Editing plan</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @plan %> |
		<%= link_to 'Back', plans_path %>
		</div>
  </div>
</div>