<div class="header"><!-- start header -->
	<div class="container">
	<div class="header-inner">
	<div class="row">
		<div class="span4 logo">
			<a href="#">
				<h1>Shield For Men</h1>
			</a>
		</div><!-- end span4 -->

		<div class="span8">
			<div class="row">
				<div class="span3 offset"></div>
				<div class="span3 customer_service">
					<h4>FREE delivery on ALL orders</h4>
					<h4><small>Customer service: 877.569.1551</small></h4>
				</div><!-- end span3 -->
				<div class="span2 cart">
					<h4><i class="icon-shopping-cart icon-white"></i> Shopping Cart</h4>
					<p><a href="#">2 item(s) - $40.00</a></p>
				</div><!-- end span2 -->
			</div><!-- end row -->
			<br/>
			<div class="row">
				<div class="links pull-right">
					<% if signed_in? %>
						<%= link_to "Sign Out",    signout_path, method: "delete"  %> |
					<% else %>
						<%= link_to "Sign In",     signin_path %> |
					<% end %>
					<%= link_to "Shopping Cart", '#' %> | 
					<%= link_to "About",         about_path %> |
					<%= link_to "Contact",       contact_path %>
				</div><!-- end links -->
			</div><!-- end row -->
		</div><!-- end span8 -->
	</div><!-- end row -->
	</div><!-- end header-inner -->
	</div><!-- end container -->
</div><!-- end header -->